<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
   <h3>vue 指令:v-if</h3>
   <div id="app">
     <!--3:这里是view-->
     {{message}}
     <h3 v-if="yes">yes</h3>
     <h3 v-if="no">no</h3>
     <h3 v-if="age > 28">age:{{age}}</h3>
     <h3 v-if="name.indexOf('o')>=0">name:{{name}}</h3>
   </div>
   <script src="js/vue.min.js"></script>
   <script>
    //1:创建数据
    var exampleData = {
      message:"hello vue",
      yes:true,
      no:false,
      age:28,
      name:"lion"
    };
    //2:创建vue实例
    new Vue({
      el:"#app",
      data:exampleData
    });
   </script>
</body>
</html>