<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div id="app">
  <!--4:挂载父组件-->
  <parent></parent>
</div>
<script src="js/vue.min.js"></script>
<script>
 //1:创建父组件
 Vue.component("parent",{
   data:function(){
     return {isUserLogin:true,lists:[10,20,30,40,50]}
   },
   template:`
     <div>
       <ul v-if="isUserLogin">
         <li v-for="item in lists">{{item}}</li>
       </ul>
       <child @dataEvent="getData"></child>
     </div>
   `,
   methods:{
     getData:function(msg){
       console.log("父组件接收到子组件的数据:"+msg);
       this.isUserLogin = msg;
     }//14:51--14:54
   }
 });
 //2:创建子组件
 Vue.component("child",{
   template:`
     <div>
       <button @click="sendData">点击按钮发送数据给父组件</button>
     </div>
   `,
   methods:{
     sendData:function(){
       this.$emit("dataEvent",false);
     }
   }
 });
 //3:创建vue
 new Vue({el:"#app"});
</script>
</body>
</html>