<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div id="app">
  <!--4:挂载父组件-->
  <parent></parent>
</div>
<script src="js/vue.min.js"></script>
<script>
 //1:创建父组件
 Vue.component("parent",{
   data:function(){
     return {list:["tom","jerry","james"]}
   },
   template:`
     <div>
       <h4>父组件</h4>
       <ul>
          <li v-for="item in list">{{item}}</li>
       </ul>
       <child></child>
     </div>
   `
 });
 //2:创建子组件
 Vue.component("child",{
   data:function(){
     return {userName:""}
   },
   template:`
     <div>
       {{userName}}
       <input type="text"  value="" v-model="userName"/>
       <button @click="saveData">添加数据</button>
     </div>
   `,
   methods:{
     saveData:function(){
       //将用户名添加父元素列表
       var name = this.userName;
       this.$parent.list.push(name);
       //清空当前元素
       this.userName = "";
     }
   }
 });
 //3:创建vue
  new Vue({el:"#app"});
</script>
</body>
</html>