<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div id="app">
  <!--4:挂载父组件-->
  <my-parent></my-parent>
</div>
<script src="js/vue.min.js"></script>
<script>
 //1:创建父组件
 Vue.component("my-parent",{
   data:function(){
     return {list:[1,2,3,4,5]}
   },
   template:`
     <div>
       <h4>父组件</h4>
       <ul>
         <li v-for="item in list">{{item}}</li>
       </ul>
       <my-child userName="a"></my-child>
       <my-child userName="b"></my-child>
     </div>
   `
 });
 //2:创建子组件
 Vue.component("my-child",{
   props:["userName"],
   data:function(){return {userInput:""}},
   template:`
    <div>
      <input type="text" v-model="userInput" />
      <button @click="sendData">点击按钮发送数据</button>
    </div>
   `,
   methods:{   //16:58--17:00
     sendData:function(){
       var n = this.userInput;
       var name = this.userName+":";
       this.$parent.list.push(name+":"+n);
       this.userInput = "";
     }
   }
 });
 //3:创建vue
 new Vue({el:"#app"});
</script>
</body>
</html>