<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h3>复合组件</h3>
<div id="app">
  <my-component></my-component>
</div>
<script src="js/vue.min.js"></script>
<script>
   //15:54--15:57
   //1:创建组件 my-component
   //2:组件二个数据 myAddress;myPhone
   //3:添加模板
   //  div 添加二个input,input的value绑定刚才定义
   Vue.component("my-component",{
     data:function(){
       return {
         myAddress:"",
         myPhone:139
       }
     },
     template:`
       <div>
        <input type="text" v-model="myAddress" />
        <input type="text" v-model="myPhone" />
        <h5>{{myAddress}}</h5>
        <h5>{{myPhone}}</h5>
       </div>
     `,
     watch:{//监听属性
       //前面属性名称:函数
       myAddress:function(){
         console.log("数据发生修改:"+this.myAddress);
       },
       myPhone:function(){
         console.log("数据发生修改:"+this.myPhone);
       }

     }
   });
   var exampleData = {
     msg:"hello vue",
   };
   new Vue({
      el:"#app",
      data:exampleData
   });
</script>
</body>
</html>