<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <style>

  </style>
</head>
<body>
  <div id="app">
    <input type="text" v-model="newTodo" @keyup.enter="addTodo"/>
    <ul>
      <li v-for="(todo,idx) in todos">
        <span>{{todo.text}}</span>
        <button @click="removeTodo(idx)">X</button>
      </li>
    </ul>
  </div>
  <script src="js/vue.min.js"></script>
  <script>
    //1:model
    var exampleData = {
        newTodo:"",              //保存你输入内容
        todos:[{text:"james"}]   //保存多次输入新内容
    }
    //2:viewmodel
    var app = new Vue({
      el:"#app",
      data:exampleData,
      methods:{
        addTodo:function(){
          //将用户输入数据保存数据中
          this.todos.push({text:this.newTodo});
          //清除用户上次输入内容
          this.newTodo = "";
        },
        removeTodo:function(idx){
          this.todos.splice(idx,1);
        }
      }
    });
  </script>
</body>
</html>